<table class="table table-bordered ">
<col width="3%">
<col width="15%">
<col width="12%">
<col width="15%">
<col width="5%">
<col width="12%">
<col width="20%">
<col width="8%">
<col width="10%">
<thead bgcolor='#026c48'>
  <td align="center"><font color="#fff">STT</font></td>
  <td align="center"><font color="#fff">Nhân viên</font></td>
  <td align="center"><font color="#fff">CheckIn</font></td>
  <td align="center"><font color="#fff">Địa điểm CheckIn</font></td>
  <td align="center"><font color="#fff">Pin (%)</font></td>
  <td align="center"><font color="#fff">CheckOut</font></td>
  <td align="center"><font color="#fff">Địa điểm CheckOut</font></td>
  <td align="center"><font color="#fff">Pin(%)</font></td>
  <td align="center"><font color="#fff">Trạng thái</font></td>
</thead>
<tbody>
  <% users.each_with_index do |user, index| %>
    <tr>
    <td><%= (index + 1).to_s %></td>
    <td><%= link_to user[:name], user_path(user[:uid]) %></td>
    <td><%= user[:check_in_created_at] %></td>
    <td><%= user[:check_in_address] %></td>
    <td><%= user[:check_in_percentage] %></td>
    <td><%= user[:check_out_created_at] %></td>
    <td><%= user[:check_out_address] %></td>
    <td><%= user[:check_out_percentage] %></td>
    <td><%= user[:online_status] %></td>
    </tr>
  <% end %>
</tbody>
</table>
<%= paginate users, remote: true, theme: 'twitter-bootstrap-3' %>
