<div class="well">
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Tạo nhân viên
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tạo nhân viên</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= simple_form_for(user, class: 'form-horizontal') do |f| %>
              <%= f.input :name, label: "Tên: ", class: 'form-control' %>
              <%= f.input :email, label: "Email: ", class: 'form-control' %>
              <%= f.input :password, label: "Mật khẩu: ", class: 'form-control' %>
              <%= f.input :password_confirmation, label: "Xác nhận mật khẩu: ", class: 'form-control' %>
              <%= f.input :admin, label: "Admin: ", class: 'form-control' %>
              <%= f.input :groups, label: "Nhóm: ", as: :select2, collection: Group.all, multiple: true %>
            <div class="row">
              <%= f.button :submit, class: 'btn btn-primary', value: 'Tạo' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
</div>