<ul class="nav nav-pills">
  <li role="presentation">
    <%= link_to "Trang chủ", root_path %>
  </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Quản lý nhân viên <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li role="presentation">
        <%= link_to "Danh sách nhân viên", users_path %>
      </li>
    </ul>
  </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="/groups/new" role="button" aria-haspopup="true" aria-expanded="false">
      Quản lý nhóm <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li role="presentation">
        <%= link_to "Danh sách nhóm", groups_path %>
      </li>
    </ul>
  </li>
  <li role="presentation" class="dropdown">
    <%= link_to "Báo cáo", reports_path %>
  </li>
  <% if logged_in? %>
    <li role="presentation" class="dropdown pull-right">
      <%= link_to "Đăng xuất", logout_path, method: :delete %>
    </li>
  <% else %>
    <li role="presentation" class="dropdown pull-right">
    <%= link_to "Đăng nhập", login_path %>
    </li>
  <% end %>
</ul>