<div class='col-md-3'>
<div id="imaginary_container"> 
    <%= form_tag(root_path, method: :get) do %>
      <div class="input-group stylish-input-group">
        <input type="text" class="form-control" name="query" placeholder="Tìm nhân viên" value=<%= params[:query] %> >
        <span class="input-group-addon">
            <button type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>  
        </span>
      </div>
    <% end %>
</div>
</div>
<div class='col-md-6'>
<ul class="nav nav-pills">
  <li role="presentation" class="dropdown">
    <div class="dropdown">
      <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
          Lọc theo nhóm <span class="caret"></span>
      </a>
      <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
        <li><a href="/">Chọn tất cả</a></li>
        <% @groups.each do |group| %>
          <li><a href="/?group_id=<%= group.id %>"><%= group.name %></a></li>
        <% end %>
      </ul>
    </div>
  </li>
</ul>
</div>
<div class='col-md-3'>
Online: <font color='green'><%= @online %></font>&nbsp;&nbsp;
Offline: <font color='red'><%= @offline %></font>
</div>