<!DOCTYPE html>
<html>
  <head>
    <title>Backend</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDC_f7OaJMYMK92QjscI1B8Jo9U_33bBhQ&libraries=places" ></script>
    <%= action_cable_meta_tag %>
    <%= yield :css_include %>
    <style>
      #map {height: 50vh;}
      #map_detail {height: 80vh;}
    </style>
  </head>

  <body style="background-color: #FEFFFF;">
  <hr style="height:5px;border:none;color:#337ab7;background-color:#337ab7;margin-top:1px;" />
    <div class='container' style='padding-left: 0px; padding-right: 0px;'>
      <div class='row' style='height: 75px; margin-top: 10px;'>
        <div class='col-md-4'>
          <strong><font color='#ff0000'>CTCP NHỰA THIẾU NIÊN TIỀN PHONG</font></strong><br/>
          PHÒNG THỊ TRƯỜNG
        </div>
        <div class='col-md-8'>
      	  <%= render 'layouts/menu' %>
        </div>
      </div>
      <div class='row'>
        <%= render 'layouts/toolbar' %>
      </div>
      <div class='row'>
      	<%= render 'layouts/flash' %>
      </div>
      <div class='row'>
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= yield :js_include %>    
  </body>
</html>
