<!DOCTYPE html>
<html>
  <head>
    <title>Backend</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDC_f7OaJMYMK92QjscI1B8Jo9U_33bBhQ&libraries=places" ></script>
    <%= action_cable_meta_tag %>
    <%= yield :css_include %>
    <style>
      #map {height: 50vh;}
      #map_detail {height: 80vh;}
    </style>
  </head>

  <body style="background-color: #FEFFFF;">
    <div class='container' style='padding-left: 0px; padding-right: 0px;'>
      <% if logged_in? %>
        <div class='row' style='margin-top: -2px; margin-bottom: -10px;'>
          <div class='col-md-8 col-md-offset-4'>
            <%= render 'layouts/menu' %>
          </div>
        </div>
      <% end %>
      </div>
      <div class='bannerimg' style='height: 75px; margin-top: 10px;'>        
      </div>
      <% if @home_page %>
        <div class='container'>      
        <%= render 'layouts/toolbar' %>
      </div>
      <% end %>
      <div class='row'>
      	<%= render 'layouts/flash' %>
      </div>
      <div class='row'>
        <div class="container">
          <%= yield %>
        </div>
      </div>
      <br />
      <div class="copyright bgimg">
        <div class="container">
          <div class="col-md-6">
            <p>@ Copyrights 2006 by Tien Phong Plastic Joint-Stock company</p>
          </div>
          <div class="col-md-6">
            <ul class="bottom_ul">
              <li><a href="http://www.nhuatienphong.vn/pg-16593/san-pham?MenuID=9052">Sản phẩm</a></li>
              <li><a href="http://www.nhuatienphong.vn/pg-16594/bang-gia?MenuID=9053">Bảng giá</a></li>
              <li><a href="http://www.nhuatienphong.vn/pg-16595/hổ-trợ-khách-hàng?MenuID=9054">Hỗ trợ khách hàng</a></li>
              <li><a href="http://mail.nhuatienphong.vn:3000/">Email</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%= yield :js_include %>    
  </body>
</html>
